/* @import "styles.css"; */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.headerPerfil{
    justify-self: center;
    border: 4px solid white;
}

.headerPerfil .img-logo{
    width: 200px;
    height: auto;

    /* justify-content: center; */

}

.header-profile{
    /* margin-right: 500px; */

    display:grid;
    grid-template-areas: "logo settings-logo";
    grid-template-columns: auto 4.16%;
    
}
.header-profile .settings-logo{
    grid-area: settings-logo;
    align-self: self-start;
    justify-self: right;

    margin-right: 10%;
    margin-top: 10%;
    
}
.header-profile .logo .img-logo{
    grid-area: logo;
    width: 200px;
    height: auto;
    margin-top: 0.5%;
   
    
}
.header-profile .logo{

    display: flex;
    justify-content: center;
}

.profile-icon-user{
    align-self: center;
    border: 4px solid blue;

}

.profile-icon-user .default-icon-user{
    align-self: center;
    border: 4px solid purple;

}


.button-icon {
    color: #000;
}